<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 addPicture">
            <form name="form" class="col-md-12 formAddAlbum">
                <h3>Create an Album!</h3>
                <input type="text" ng-model="vm.title" class="form-control addAlbum"  placeholder="Album name...">
                <button class="btn btn-primary uploadImage" type="submit" ng-click="vm.submit()">Create!</button>
            </form>
            
        </div>
    </div>
</div>